@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 440px;
  margin:3rem auto;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}
.container h1,h2{
  margin:5px 0;
}
.relogio{
  font-size: 3rem;
  margin: 2rem 0;
}

button{
  padding:.5rem ;
  font-weight: 600;
  cursor:pointer;
}

.pausado {
  color: red;
}